<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="landing.css">
    <title>Document</title>
</head>
<body>
    <div class="section-3">
        <div class="overlay">
            <div class="container-3">
                <div class="row-3">
                    <h2>Looking for a carrer in Healthcare and Hospitality?</h2>
                    <button class="btn6">our department</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>