<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="project.css">
    <title>Document</title>
</head>
<body>
    <div class="project">
        <div class="container-2">
            <h1>Why Our Services</h1>
            <div class="row-2">
                <div class="col-2">
                    <img src="images/family.jpg" alt="">
                </div>
                <div class="col-2">
                    <h2>Hospital Care</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores est reiciendis soluta delectus, 
                        neque et. Commodi enim quae odit eos quod rem, nulla dicta at vero ut facilis aliquid ad!</p>
                    <button class="bttn">Help</button>    
                </div>
            </div>

            <div class="row-2">
                <div class="col-2">
                    <h2>Hospital Care</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores est reiciendis soluta delectus, 
                        neque et. Commodi enim quae odit eos quod rem, nulla dicta at vero ut facilis aliquid ad!</p>
                    <button class="bttn">Help</button> 
                </div>
                <div class="col-2"> 
                    <img src="images/family.jpg" alt="">   
                </div>
            </div>

            <div class="row-2">
                <div class="col-2">
                    <img src="images/family.jpg" alt="">
                </div>
                <div class="col-2">
                    <h2>Hospital Care</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores est reiciendis soluta delectus, 
                        neque et. Commodi enim quae odit eos quod rem, nulla dicta at vero ut facilis aliquid ad!</p>
                    <button class="bttn">Help</button>    
                </div>
            </div>
        </div>
    </div>
</body>
</html>