<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sevices.css">
    <title>Document</title>
</head>
<body>
    <div class="services">
        <div class="container-4">
            <h1>Choosing Our Hospital</h1>
            <div class="row-4">
                <div class="col-4">
                    <ol>
                        <li><h2>How can I pay for it</h2></li>
                        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, illo. Quia 
                            cupiditate nisi quas eminus perferendis aperiam maxime, ipsa nobis recusandae?
                            t amet consectetur adipisicing elit. Quam, illo. Quia cupiditate nisi quas eminus perferendis aperiam maxime</li>
                    </ol>
                </div>

                <div class="col-4">
                    <ol>
                        <li><h2>How can I pay for it</h2></li>
                        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, illo. Quia 
                            cupiditate nisi quas eminus perferendis aperiam maxime, ipsa nobis recusandae?
                            t amet consectetur adipisicing elit. Quam, illo. Quia cupiditate nisi quas eminus perferendis aperiam maxime</li>
                    </ol>
                </div>

                <div class="col-4">
                    <ol>
                        <li><h2>How can I pay for it</h2></li>
                        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, illo. Quia 
                            cupiditate nisi quas eminus perferendis aperiam maxime, ipsa nobis recusandae?
                            t amet consectetur adipisicing elit. Quam, illo. Quia cupiditate nisi quas eminus perferendis aperiam maxime</li>
                    </ol>
                </div>

                <div class="col-4">
                    <ol>
                        <li><h2>How can I pay for it</h2></li>
                        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, illo. Quia 
                            cupiditate nisi quas eminus perferendis aperiam maxime, ipsa nobis recusandae?
                            t amet consectetur adipisicing elit. Quam, illo. Quia cupiditate nisi quas eminus perferendis aperiam maxime</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>
</html>